*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1 rem is
    font-size: 62.5%;

    @include respond(tab-land) {//width < 1200
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {//width < 900
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1 rem = 12px,12/16 = 50%
    }
}

body {
    box-sizing: border-box;
}